<div class="customer-card">
    <div class="customer-card_header">
        <div class="customer-card_bio">
            <img src="@@img" alt="man" />
            <div class="customer-card_info">
                <span>@@name </span>
                <p>
                    @@from
                </p>
            </div>
        </div>
        <div class="customer-card_rate">
            <p>
                4.5
            </p>
            @@include("ui/components/assets/star.html")
        </div>
    </div>
    <p class="customer-card_comments">“@@comments”.</p>
</div>