.features {
    display: flex;
    justify-content: center;
    gap: 170px;
    padding-bottom: 211px;
}

.features-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.features div div {
    display: flex;
    align-items: center;
    gap: 10px;

}

.features-title {
    font-weight: 500;
    font-size: 35px;
}

.features-content p {
    font-weight: 400;
    font-size: 14px;
    color: #4F5665;

}