body {
    font-family: "Rubik", sans-serif;
   color:  #0B132A;
}

.logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.logo p span {
    font-weight: 700;

}

.logo p {
    font-weight: 500;
    display: flex;
    color: #0B132A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}

.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.nav a {
    color: #4F5665;

}

.auth {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.sing_up{
    border: 2px solid #F53838;
    border-radius: 50px;
    padding: 13px 63px;
    color: #F53838;
}
.auth a {
    color: #0B132A;
}


.text-l {
    padding: 120px 0px 20px 150px;
    width: fit-content;
}

.text-l  {
    font-weight: 500;
    font-size: 50px;
}

.text-l  span {
    font-size: 50px;
    font-weight: 700;
}

.under_text-l {
    font-weight: 400;
    font-size: 16px;
    /* padding: 20px 0px 50px 150px; */
    color: #4F5665;
    width: fit-content;
    ;

}

.under_text-l span {
    font-size: 16px;
    font-weight: 500;
}

.button-get_started {
    border: #F53838 solid;
    width: fit-content;
    padding: 17.5px 77.5px;
    border-radius: 10px;
    background-color: #F53838;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 25px 19px 54px #F5383859;
    margin-top: 30px;

}



.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-top: 85px;
}
.under_article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}
.h1 span{
    font-weight: 700;
    
}

.main {
    padding: 0 150px;
}
.users div{
    display: flex;
    flex-direction: column;
}
.users{
    display: flex;
    gap: 37px;
    align-items: center;
}
.user-svg {
    background-color: #FFECEC;
    padding: 15px;
    border-radius: 999px;
}
.ninety{
    font-weight: 700;
    font-size: 25px;
    color: #0B132A;
;
}
.users-ninety{
    font-weight: 400;
    font-size: 20px;
    color: #4F5665;
}

.vertical {
    height: 125px;
    width: 2px;
    background-color: #EEEFF2;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 37px 91px;
    margin: 100px 150px;
    box-shadow: 0px 35px 114px -75px #0D1025;
    border-radius: 10px;
}
.features{
    display: flex;
    justify-content: center;
    gap: 170px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
}

.features div div {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.h2h2{
    font-weight: 500;
    font-size: 35px;
}
.content p{
    font-weight: 400;
    font-size: 14px;
    color:  #4F5665;

}
.h{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.h h2{
    padding: 80px 0 0 0;
    font-weight: 500;
    font-size: 35px;
}
.h p{
    padding-bottom: 60px;
}
.boxes{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    
}
.plan {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
   padding: 79px 69px 50px 69px;
   border-radius: 10px;
   align-items: space-between;
   justify-content: space-between;
   height: 760px;
}
.plan:hover{
    border: 2px solid #F53838;
    transition: all 0.3s ease-in-out;
}

.svg_galochka{
    display: flex;
    gap: 20px;
    align-items: center;
}
.plan-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.plan-content h4{
    font-weight: 500;
    font-size: 18px;
}
.plan-galochka {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#4F5665;
}

.plan-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.plan_button{
    border: 2px solid #F53838;
    border-radius: 50px;
    padding: 13px 63px;
    color:#F53838;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

}
.plan_button:hover{
    background-color: #F53838;
    box-shadow: 0px 9px 54px -12px #F53838;
    color: #fff;
}
.plan-footer span{
    font-weight: 500;
    font-size: 25px;
}
.network{
    text-align: center;
}
.h3h3{
    padding: 150px 0 0 0;
    font-weight: 500;
    font-size: 35px;
}
.under_h3h3{
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
}
.under_h3h3_span{
    font-weight: 500;
}
.global{
    padding: 156px 190px 36px 190px;
}