body {
    font-family: "Rubik", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.logo p span {
    font-weight: 700;

}

.logo p {
    font-weight: 500;
    display: flex;
    color: #0B132A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}

.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.nav a {
    color: #4F5665;

}

.auth {
    display: flex;
    gap: 30px;

}

.auth a {
    color: #0B132A;
}

.text-l {
    padding: 120px 0px 20px 150px;
    width: fit-content;
}

.text-l  {
    font-weight: 500;
    font-size: 50px;
}

.text-l  span {
    font-size: 50px;
    font-weight: 700;
}

.under_text-l {
    font-weight: 400;
    font-size: 16px;
    /* padding: 20px 0px 50px 150px; */
    color: #4F5665;
    width: fit-content;
    ;

}

.under_text-l span {
    font-size: 16px;
    font-weight: 500;
}

.button-get_started {
    border: #F53838 solid;
    width: fit-content;
    padding: 17.5px 77.5px;
    border-radius: 10px;
    background-color: #F53838;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 25px 19px 54px #F5383859;
    margin-top: 30px;

}



.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-top: 85px;
}
.under_article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}
.h1 span{
    font-weight: 700;
    
}

.main {
    padding: 0 150px;
}