@import url("reset.css");
@import url("logo.css");
@import url("info.css");
@import url("plan.css");
@import url("components/title.css");
@import url("features.css");
@import url("customer.css");
@import url("network.css");
@import url("components/apps.css");


body {
    font-family: "Rubik", sans-serif;
    color: #0B132A;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;

}
.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.nav a {
    color: #4F5665;

}
.auth {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;

}
.auth a:first-child {
    color: #0B132A;
}
.sing_up {
    border: 2px solid #F53838;
    border-radius: 50px;
    padding: 13px 63px;
    color: #F53838;
}
.text-l {
    padding: 120px 0px 20px 150px;
    width: fit-content;
}

.text-l {
    font-weight: 500;
    font-size: 50px;
}
.text-l span {
    font-size: 50px;
    font-weight: 700;
}
.under_text-l {
    font-weight: 400;
    font-size: 16px;
    /* padding: 20px 0px 50px 150px; */
    color: #4F5665;
    width: fit-content;

}
.under_text-l span {
    font-size: 16px;
    font-weight: 500;
}
.button {
    border: #F53838 solid;
    width: fit-content;
    padding: 17.5px 77.5px;
    border-radius: 10px;
    background-color: #F53838;
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 25px 19px 54px #F5383859;
}
.btn_hero {
    margin-top: 30px;
}
.button:hover {
    box-shadow: 0px 9px 54px -12px #F53838;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding-top: 85px;
}
.under_article {
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}
.h1 span {
    font-weight: 700;

}
.main {
    padding: 0 150px;
}
.h {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.h h2 {
    padding: 80px 0 0 0;
    font-weight: 500;
    font-size: 35px;
}
.h p {
    padding-bottom: 60px;
}
.under_h3h3 {
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
}
.under_h3h3_span {
    font-weight: 500;
}

.global {
    padding: 156px 190px 36px 190px;
}

.network div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.subscribe {
    display: flex;
    justify-content: center;
    margin-bottom: -116px;
    margin-top: 65px;

}

.subscribe_group {
    display: flex;
    justify-content: space-between;
    padding: 58px 70px;
    width: 1000px;
    align-items: center;
    box-shadow: 0px 9px 114px -50px #0D1025;
    border-radius: 10px;
}

.text_subscribe {
    font-weight: 500;
    font-size: 35px;
}

.minitext_subscribe {
    line-height: 30px;
    color: #4F5665;
}



.footer {
    background-color: #F8F8F8;
    padding: 180px 150px 100px 150px;
    display: flex;
    justify-content: space-between;

}

.text_footer {
    color: #4F5665;
}

.text_footer span {
    font-weight: 500;


}

.media {
    display: flex;
    align-items: center;
    gap: 20px;
}



.inst svg {
    fill: white;
}

.year {
    color: #AFB5C0;
}

.year span {
    font-weight: 500;

}

.colomn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.media-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.colomns {
    display: flex;
    gap: 126px;
}

.product {
    font-size: 18px;
    font-weight: 500;
}

.colomn_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.downloads a {
    color: #4F5665;
}