body {
    font-family: "Rubik", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
}
.logo p span{
    font-weight: 700;

}
.logo p{
    font-weight: 500;
    display: flex;
    color:  #0B132A;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    
}

.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
.nav a{
    color: #4F5665;

}

.auth {
    display: flex;
    gap: 30px;
    
}

.auth a{
    color:  #0B132A;
}
